{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>RESPONS</title>
        <script src="{% static 'page/js/script.js'%}" type="text/JavaScript"></script>

                <!--=============== CSS ===============-->
                <link rel="stylesheet" href="{% static 'page/css/style.css'%}">

</head>
<body>
<!--==================== HOME ====================-->
<section class="home" id="home">
  <div class="home__container container grid">
      <img src="{% static 'page/image/FOLK.png'%}" alt="" class="home__img">

      <div class="home__data">
          <h1 class="home__title" style="text-align: center; color:rgb(5, 73, 50)">
            Thank you to contact us
          </h1>
  
  </div>
</section>
</body>
</html>

{% endblock %}